
/*-----------head-----------*/
.head span {
    border-bottom: 10px solid #e4e4e4;
    display: block;
}
.logo2{
	margin: 15px 0;
}
.page-3{
    background-color: transparent;
    float: right;
    margin: 15px 0px;
    font-size: 15px;

}
.page-3 li a{
	color: blue;
    font-size: 20px;
    font-style: italic;
}
.page-3 li a:hover{
    color: black;
    font-style: normal;
}
.breadcrumb-item+.breadcrumb-item::before{
    color: blue;
}


/*------last-foot -------------*/
.last-foot{
	background: url(../img/cover.png);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;

}
.last-foot h1 {
    color: white;
    padding-bottom: 60px;
    padding-top: 40px;
}
.car img {
    width: 85%;
}
.car p {
    margin: 25px 0px;
    font-size: 15px;
    width: 85%;
}
.square img {
    width: 70%;
}
.h3 {
    font-size: 20px;
}
.txt {
    width: 125%;
    background-color: #e91e6361;
    margin: 0px 0px 30px;
    border: none;
    height: 42px;
    padding: 0px 10px;
}
.submit {
    font-style: italic;
    font-size: 25px;
    background-color: transparent;
    border: none;
    margin: -25px 120px;
}
.submit:hover{
	background-color: red;
	color: white;
	border: 2px solid maroon;
	padding: 2px 5px;
}

/*------footer-------*/
footer{
    background-color: red;

}
footer h1 {
    font-size: 15px;
    color: white;
    padding: 40px 0px 30px;
    text-align: center;
}
.foot{
    margin: 0 auto;
}

/*---Media Query___________________*/

/*  medium device   */
@media (min-width:500.01px ) and (max-width: 720px){

    .h3 {
    margin: 15px 20px;
}
    .txt {
    width: 80%;
}    
    
}